.App {
  padding: 20px;
}

h2 {
  color: #5C595E;
}

.blue {
  color: #3796EB;
}

.results {
  display: flex;
}

.repsTableDiv, .repsDetailsDiv {
  width: 50%;
  margin: 20px;
}

.repsTable table{
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.repsTable tr {
  height: 40px;
}

.repsTable td, .repsTable th {
  padding: 8px;
}

.repsTable thead tr {
  background-color: #F6F6F6;
}

.repsTable tbody td {
  border-bottom: 1px solid #F6F6F7;
  cursor: pointer;
}

.repsTable tbody tr:hover {
  background-color: #eeeeee;
}

.repsDetails div{
  height: 40px;
  line-height: 40px;
  padding: 0 8px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #F6F6F6;
}